* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #a8e7ce;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}

.container {
    background: #fff;
    max-width: 500px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.form{
    margin-top: 4px;
    margin-bottom:4px;
}

.form form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form label{
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;

}

.form input{
    display: flex;
    justify-content: center;
    height: 32px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
    border: 3px solid black;
    background: antiquewhite;
    text-align: center;
}

.form input:focus{
    background: #545252;
}

.form button:hover {
    background: lightslategrey;
    height: 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 4px;
    margin-bottom: 4px;
    transition: background 1.0s;
}

.form button {
    background: darkgray;
    height: 32px;
    border: none;
    border-radius: 4px;
    color: #a8e7ce;
}

.separator {
    background: #999;
    height: 2px;
    border-radius: 1px;
}

.list-task {
    margin-top: 300px;
    margin-bottom: 12px;
}

.list-task ul {
    list-style: none;
}

.list-task ul li {
    background: lightslategrey;
    height: 50px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 4px;
    margin-bottom: 4px;
    display: flex;
    text-align: center;
    padding: 12px;
    justify-content: left;
    transition: background 0.3s;
}

.list-task ul li:hover {
    background: #a8e7ce;

}

.btn-clear{
    background: #545252;
    padding: 12px;
    color: white;
    border: none;
    transition: background 0.3s;
    margin-left: 175px;

}
.btn-clear:hover{
    background: #a8e7ce;
}


.footer {
    background: #545252;
    border-radius: 4px;
    padding: 12px;

}

.footer p {
    color: #999999;
    font-size: 12px;


}



